*{
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', sans-serif;
    color: white;
}

html::-webkit-scrollbar {
    width: 0 !important
   }
   
   html {
       scroll-behavior: smooth;
   }

.navList{
    list-style: none;
    display: flex;
}

.navList > li > a {
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    color: white;
}

.navElement{
    padding: 10px;
    flex: 1;
}

#logo{
    flex-basis: 70%; 
    filter: invert(100%);
}

#logo img{
    max-width: 300px;;
    
}

.container nav > .navList{
    padding: 10px;
}

.navElement:nth-child(n+2){
    margin-top: 10px;
}

body{
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}


.top-page {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 4fr 1fr 0.5fr 5fr;
    grid-template-areas: 
    "." "title" "to-middle-link" ".";
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;

    
}


.top-page > h1 {
    color: white;
    grid-area: title;
    text-align: center;
    font-size: 35px;

}

.top-page > a {
    color: white;
    background: #ff7a7a;
    font-family: Raleway;
    font-size: 25px;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 10px;
    grid-area: to-middle-link;
    text-align: center;
    margin: 8px;
    width: 130px;
    height: 28px;
    
}

footer{
    font-family: 'Roboto Thin';
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0px;
    margin-left: 5px;
}

.middle-page{
    display: grid;
    grid-template-columns: 0.6fr;
    grid-template-rows: 3fr 1fr 0.5fr 1fr 4fr;
    grid-template-areas: "." "middle-greet" "middle-title" "middle-p" "."; 
    justify-items: center;
    justify-content: center;
    grid-gap:10px;

}

#middle-greet{
    grid-area: middle-greet;
    font-size: 50px;
    font-weight: lighter;
}

#middle-title{
    grid-area: middle-title;
    font-size: 1.9em;
}

#middle-p{
    grid-area: middle-p;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


.contact-links figure a img {
    max-width:100%;
    height:75px;
}

.contact-links {
    display: flex;
}

.content-contact{
    display: grid;
    grid-template-columns: 0.3fr;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-template-areas: "." "contact-title" "contact-descr" "contact-logo";
    justify-items: center;
    justify-content: center;
}

#contact-title{
    grid-area: contact-title;
    font-size: 50px;
    font-weight: lighter;
}

#contact-descr{
    grid-area: contact-descr;
    font-size: 30px;
    font-family: 'Roboto-thin';
    font-weight: lighter;
}

#contact-logo{
    grid-area: contact-logo;
}

#contact-logo > figure {
    margin: 0px 20px;
    text-align: center;
}

.content-projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
     ". . . . . ."
     ". . project-1 project-2 . ." 
     ". . . . . ." 
     ". . . . . ." 
     ". . . . . .";
    justify-items: center;
    justify-content: center;
    grid-column-gap: 30px;
}

#project-1 img , #project-2 img{
    max-width:100%;
    height:180px;
    padding: 4px;
}

 #project-1 img{
    border: 1px solid yellow;
 }

#project-2 img{
    border: 1px solid rgb(102, 255, 102);
}

#project-1 a , #project-2 a {
    text-decoration: none;
}

#project-1 p , #project-2 p {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin-top:2px;
}

#project-1 {
grid-area: project-1;
}

#project-2 {
grid-area: project-2;
 }
